{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Dashboard</h1>
        <canvas id="vapeChart" width="400" height="200"></canvas>
    </div>

    <div class="mt-4 text-center">
        <h2>Generated Images</h2>
        {% for image in images %}
        <img src="{{ url_for('serve_image', filename=image.split('/')[-1]) }}" alt="Generated Chart" class="img-fluid">
        {% endfor %}
    </div>


    <div class="mt-3 text-center">
        <a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download Data</a>
    </div>
{% endblock %}

